<app-navbar></app-navbar>

<div class="container" style="background-image: url(../../../Imagens/Front.jpg);">
    <form #frm="ngForm" (ngSubmit)="adicionarAnime(frm)">
        <div class="p-grid p-fluid">
            <div class="p-col-12">
                <h2>Novo Anime</h2>
            </div>

            <div class="p-col-8">
                <label>Título</label>
                <p-dropdown [options]="animes"></p-dropdown>
            </div>
            <div class="p-col-4">
                <label>Estudio</label>
                <p-dropdown [options]="estudios"></p-dropdown>
            </div>
            <div class="p-col-4">
                <label>Status</label>
                <p-dropdown [options]="status"></p-dropdown>
            </div>
            <!-- <div class="p-col-4">
                <label>Status</label>
                <p-inputNumber name="preco" [(ngModel)]="anime.preco" [min]="0" [max]="9999.99" mode="currency"
                    currency="BRL" locale="pt-BR" [showButtons]="true" required></p-inputNumber>
            </div> -->
            <div class="p-col-4 " [style]="{'margin-top': '20px'}">
                <label>Progresso</label>
                <p-inputNumber name="progresso" [(ngModel)]="anime.progresso" [min]="0" [max]="30000" [showButtons]="true"
                    required></p-inputNumber>
            </div>
            
            <div class="p-col-4 " [style]="{'margin-top': '20px'}">
                <label>Nota</label>
                <p-inputNumber name="Nota" [(ngModel)]="anime.nota" [min]="0" [max]="30000" [showButtons]="true"
                    required></p-inputNumber>
            </div>

        </div>
        <div class="p-col-12">
            <button style="margin: 0px 15px 0px -8px" pButton type="button" label="Salvar"
                (click)="adicionarAnime(frm)"></button>
            <a href="http://localhost:4200/animes">Voltar para os animes</a>
        </div>
    </form>
</div>