<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
                (click)="openNew()"></button>
        </ng-template>
        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
                class="p-mr-2 p-d-inline-block"></p-fileUpload>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="animes" [rows]="10" [paginator]="true"
        [globalFilterFields]="['titulo','estudio','status','progresso', 'nota']" [rowHover]="true" dataKey="_id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Lista de Animes</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="titulo">Titulo <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="progresso">Progresso<p-sortIcon field="price"></p-sortIcon>
                </th>
                <th pSortableColumn="estudio">Estudio <p-sortIcon field="category"></p-sortIcon>
                </th>
                <th pSortableColumn="nota">nota<p-sortIcon field="nota"></p-sortIcon>
                </th>
                <th pSortableColumn="status">Status<p-sortIcon field="status"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-anime>
            <tr>
                <td>{{anime.titulo}}</td>
                <td>{{anime.progresso}}</td>
                <td>{{anime.estudio}}</td>
                <td>
                    <p-rating [ngModel]="anime.nota" [readonly]="true" [cancel]="false"></p-rating>
                </td>
                <td>{{anime.status}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                        (click)="editAnime(anime)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteAnime(anime)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{animes ? animes.length : 0 }} animes.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="animeDialogo" [style]="{width: '450px'}" header="Detalhes do Anime" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="titulo">Titulo</label>
            <input type="text" pInputText id="titulo" [(ngModel)]="anime.titulo" required autofocus/>
            <small class="p-error" *ngIf="submitted && !anime.titulo">Titulo é requirido.</small>
        </div>
        <div class="p-field">
            <label for="estudio">Estudio</label>
            <input type="text" pInputText id="estudio" [(ngModel)]="anime.estudio" autofocus/>
        </div>
        <div class="p-field">
            <label for="status">Status</label>
            <p-dropdown [(ngModel)]="anime.status" inputId="status" [options]="status"
                placeholder="Selecione">
            </p-dropdown>
        </div>

        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="progresso">Progresso</label>
                <p-inputNumber id="progresso" [(ngModel)]="anime.progresso"></p-inputNumber>
            </div>
            <div class="p-field p-col">
                <label for="nota">Nota</label>
                <p-inputNumber id="nota" [(ngModel)]="anime.nota"></p-inputNumber>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="saveAnime()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>